@use "global" as *;

.campaign{
  margin-top: rem(40);
  overflow: hidden;
  @include mq("md"){
    margin-top: rem(120);
  }
}
.campaign__inner{
  @include mq("md"){
    position: relative;
  }
}
.campaign__inner > .campaign__slider{
  width: 100vw;
  padding-bottom: rem(15);
  margin-top: rem(24);
  margin-right: calc(50% - 50vw);
  @include mq("md"){
    margin-top: rem(37);
  }
}
.campaign__button{
  text-align: center;
  padding-bottom: rem(3.2);
  margin-top: rem(25.6);
  @include mq("md"){
    margin-top: rem(64);
  }
}