@use "global" as *;

.campaign{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(120);
  }
}
.campaign__inner{
  @include mq("md"){
    position: relative;
    overflow: hidden;
  }
}
.campaign__slider{
  padding-left: rem(15);
  padding-bottom: rem(15);
  margin-top: rem(24);
  @include mq("md"){
    margin-top: rem(40);
    margin-left: calc(50% - 38.4017vw);
    width: 100vw;
  }
}
.campaign__card{

}
.campaign__button{
  text-align: center;
  padding-bottom: rem(3);
  margin-top: rem(25);
  @include mq("md"){
    margin-top: rem(65);
  }
}