@use "global" as *;

.contact{
  position: relative;
}
.contact::before{
  content: "";
  position: absolute;
  top: -4.2%;
  right: calc(50% - 10.8rem);
  width: rem(109);
  height: rem(50);
  background-image: url(../images/svg/sea-goldie_accent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq("md"){
    top: -10%;
    right: max(calc(50% - 41.9rem), rem(16));
    width: rem(301);
    height: rem(138);
  }
}
.contact__inner{
  max-width: rem(600);
  width: 100%;
  @include mq("md"){
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.contact__inner.inner{
  padding-left: rem(40);
  padding-right: rem(40);
  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}
.contact__body{
  @include mq("md"){
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: rem(80) rem(49.6);
    @include mq("md"){
      padding: rem(80) rem(49.6);
    }
  }
}
.contact__left-body{
  @include mq("md"){
    max-width: rem(522);
    border-right: 1px solid $accent;
    padding-right: rem(82);
  }
}
.contact__right-body{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(6);
    margin-left: rem(84.8);
  }
}