@use "global" as *;

.footer-nav{

}
.footer-nav__items{
  column-count: 2;
  column-gap: rem(32);
  padding-top: rem(24);
  padding-left: rem(23);
  @include mq("md"){
    column-count: 4;
  }
}
.footer-nav__item{
  margin-bottom: rem(40);
}
.footer-nav__item >a{
  position: relative;
  display: inherit;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
}
.footer-nav__item:nth-child(1) >a{
  padding-top: 0;
}
.footer-nav__item:nth-child(5) >a{
  padding-top: 0;
}
.footer-nav__item >a::before{
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/svg/_ヒトデ.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: rem(3);
  left: rem(-22);
}
.footer-nav__small-items{

}
.footer-nav__small-item{
  margin-top: rem(24);
}
.footer-nav__small-item >a{
  display: inherit;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}