@use "global" as *;

.footer{
  background-color: $accent;
}
.footer__inner{
  padding-top: rem(48);
  padding-bottom: rem(56);
  padding-left: rem(14);
  padding-right: rem(14);
  @include mq("md"){
    padding-top: rem(80);
    padding-bottom: rem(60);
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.footer__upper{
  @include mq("md"){
    display: flex;
    align-items: flex-end;
  }
}
.footer__logo{
  width: rem(127);
  height: rem(53);
  margin-left: rem(-1.6);
  @include mq("md"){
    width: rem(200);
    height: rem(75);
  }
}
.footer__logo img{
  width: 100%;
  height: 100%;
}
.footer__sns{
  padding-top: rem(10);
  @include mq("md"){
    padding-top: 0;
    padding-bottom: rem(15);
    padding-left: rem(40);
  }
}
.footer__nav{

}
.footer__copyrights{
  text-align: center;
  @include mq("md"){
    margin-top: rem(40);
  }
}
.footer__copyrights small{
  display: inherit;
  color: $white;
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(24 / 12);
  font-family: $english-font-family;
}