@use "global" as *;

.footer-sns__items{
  display: flex;
}
.footer-sns__item{
  width: rem(21);
  @include mq("md"){
    width: rem(26);
  }
}
.footer-sns__item:not(:first-child){
  margin-left: rem(21);
  @include mq("md"){
    margin-left: rem(20.8);
  }
}
.footer-sns__item-link img{
  width: 100%;
}