@use "global" as *;

.footer-sns{
  
}
.footer-sns__items{
  display: flex;
}
.footer-sns__item{
  width: rem(24);
  @include mq("md"){
    width: rem(26);
  }
}
.footer-sns__item:not(:first-child){
  margin-left: rem(16);
  @include mq("md"){
    margin-left: rem(19);
  }
}
.footer-sns__item-link{

}
.footer-sns__item-link img{
  width: 100%;
}