@use "global" as *;

.footer{
  background-color: $accent;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md"){
    padding-top: rem(80);
    padding-bottom: rem(76);
  }
}
.footer__inner{
  max-width: rem(600);
  width: 100%;
  @include mq("md"){
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.footer__upper{
  @include mq("md"){
    display: flex;
    align-items: flex-end;
  }
}
.footer__logo{
  width: rem(120);
  @include mq("md"){
    width: rem(200);
  }
}
.footer__sns{
  margin-top: rem(18);
  @include mq("md"){
    margin-top: 0;
    margin-bottom: rem(6.4);
    margin-left: rem(44.8);
  }
}
.footer__copyrights{
  text-align: center;
  @include mq("md"){
    margin-top: rem(40);
  }
}
.footer__copyrights small{
  display: inherit;
  color: $white;
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(24 / 12);
  font-family: $english-font-family;
  letter-spacing: -0.003em;
  @include mq("md"){
    letter-spacing: 0.084em;
  }
}