@use "global" as *;

.footer-nav__items{
  column-count: 2;
  column-gap: rem(34);
  padding-top: rem(41.6);
  padding-left: rem(23);
  @include mq("md"){
    column-count: 4;
    column-gap: rem(41.6);
    padding-top: rem(11.2);
  }
}
.footer-nav__item{
  margin-bottom: rem(40);
}
.footer-nav__item >a{
  display: inherit;
  position: relative;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
}
.footer-nav__item:nth-child(1) >a{
  padding-top: 0;
}
.footer-nav__item:nth-child(5) >a{
  padding-top: 0;
}
.footer-nav__item >a::before{
  content: "";
  position: absolute;
  top: 0;
  left: rem(-22);
  width: rem(18);
  height: rem(18);
  background-image: url(../images/svg/starfish.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-nav__item >a:hover{
  opacity: 0.7;
}
.footer-nav__small-item{
  margin-top: rem(24);
}
.footer-nav__small-item >a{
  display: inherit;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}
.footer-nav__small-item >a:hover{
  opacity: 0.7;
}