@use "global" as *;

.hamburger{
  position: relative;
  width: rem(32);
  height: rem(24);
}
.hamburger.is-open{
  z-index: 100;
}
.hamburger span{
  position: absolute;
  width: inherit;
  height: rem(1);
  background-color: $white;
  border-radius: rem(1);
  transition: transform 0.4s, opacity 0.3s;
}
.hamburger span:nth-child(1){
  top: 0%;
  transform: translateY(-100%);
}
.hamburger span:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
.hamburger span:nth-child(3){
  top: 100%;
  transform: translateY(0%);
}
.hamburger.is-open span:nth-child(1){
  top: 50%;
  transform: rotate(36.87deg) translateY(-50%);
  right: rem(-3);
  width: rem(40);
}
.hamburger.is-open span:nth-child(2){
  opacity: 0;
}
.hamburger.is-open span:nth-child(3){
  top: 50%;
  transform: rotate(-36.87deg) translateY(-50%);
  right: rem(-3);
  width: rem(40);
}