@use "global" as *;

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: rem(80);
  background-color: $black;
  opacity: 0.68;
  z-index: 2;
  @include mq("md"){
    height: rem(90);
  }
}
.is-open.header{
  opacity: 1;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq("md"){
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.header__logo{
  width: rem(108);
  height: rem(50);
  padding-top: 6px;
  margin-left: -3px;
  z-index: 4;
  @include mq("md"){
    width: rem(139);
    height: rem(60);
  }
}
.header__logo-link img{
  width: 100%;
  height: 100%;
}
.header__background{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.8;
  z-index: 2;
}
.is-open .header__background{
  display: block;
}
.header__sp-nav{
  padding-top: rem(80);
}