@use "global" as *;

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: rem(80);
  background-color: $black;
  opacity: 0.68;
  z-index: 10;
  transition: background-color 0.35s;
  @include mq("md"){
    height: rem(90);
  }
}
.header.is-open{
  opacity: 1;
  background-color: $accent;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1440);
  width: 100%;
  height: inherit;
  padding-left: rem(15);
  padding-right: rem(15);
  margin-left: auto;
  margin-right: auto;
  @include mq("md"){
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.header__logo{
  height: inherit;
  z-index: 10;
}
.header__logo-link{
  display: flex;
  align-items: center;
  height: inherit;
}
.header__logo-link img{
  width: rem(102);
  @include mq("md") {
    width: rem(133);
  }
}