@use "global" as *;

.header{
  height: rem(80);
  background-color: $black;
  opacity: 0.68;
  @include mq("md"){
    height: rem(90);
  }
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq("md"){
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.header__logo{
  width: rem(102);
  height: rem(38);
  z-index: 100; // 2nd
  @include mq("md"){
  width: rem(133);
  height: rem(50);
  }
}
// .header__logo.is-open{
//   z-index: 100;
// }
.header__logo-link{
  
}
.header__logo-link img{
  width: 100%;
  height: 100%;
}
.header__drawer{

}
.header__sp-nav{

}
.header__pc-nav{
  
}