@use "global" as *;

.page-sitemap {
  position: relative;
}
.page-sitemap::before {
  content: "";
  position: absolute;
  top: rem(-24);
  left: max(calc(50% - 38.7rem), rem(16));
  width: rem(120);
  height: rem(56);
  background-image: url(../images/svg/sea-goldie_accent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(-1, 1);
  @include mq("md") {
    display: none;
  }
}
.page-sitemap__inner {
  position: relative;
  max-width: rem(600);
  width: 100%;
}