@use "global" as *;

.page-gallery {
  position: relative;
}
.page-gallery::before {
  content: "";
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    top: rem(-81);
    right: max(calc(50% - 40rem), rem(16));
    width: rem(301);
    height: rem(139);
    background-image: url(../images/svg/sea-goldie_accent.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.page-gallery__inner {
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.page-gallery__content {
  margin-top: rem(36);
  @include mq("md") {
    margin-top: rem(76);
  }
}
.page-gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  width: 100%;
  @include mq("md") {
    grid-template-columns: 1fr vw(1440, 80) 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.page-gallery__images picture {
  display: block;
  width: inherit;
}
.page-gallery__images picture:nth-child(1) {
  @include mq("md") {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}
.page-gallery__images picture:nth-child(2) {
  @include mq("md") {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}
.page-gallery__images picture:nth-child(3) {
  @include mq("md") {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
.page-gallery__images picture:nth-child(4) {
  @include mq("md") {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
.page-gallery__images picture:nth-child(5) {
  @include mq("md") {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}
.page-gallery__images picture:nth-child(6) {
  @include mq("md") {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
  }
}
.page-gallery__images picture img {
  aspect-ratio: 345 / 219;
  width: 100%;
  height: auto;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 580 / 369;
  }
}
.page-gallery__images picture:nth-child(1) img,
.page-gallery__images picture:nth-child(6) img {
  aspect-ratio: 345 / 523;
  @include mq("md") {
    aspect-ratio: 492 / 746;
  }
}