@use "global" as *;

.page-terms-service {
  position: relative;
}
.page-terms-service::before {
  content: "";
  position: absolute;
  top: rem(-30);
  left: max(calc(50% - 38.7rem), rem(16));
  width: rem(120);
  height: rem(56);
  background-image: url(../images/svg/sea-goldie_accent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(-1, 1);
  @include mq("md") {
    top: rem(-78);
    width: rem(301);
    height: rem(139);
  }
}
.page-terms-service__inner {
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: rem(850);
  }
}