@use "global" as *;

.page-privacy-policy {
  position: relative;
}
.page-privacy-policy::before {
  content: "";
  position: absolute;
  top: rem(-29);
  left: max(calc(50% - 38.7rem), rem(16));
  width: rem(120);
  height: rem(55);
  background-image: url(../images/svg/sea-goldie_accent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(-1, 1);
  @include mq("md") {
    top: rem(-77);
    width: rem(301);
    height: rem(138);
  }
}
.page-privacy-policy__inner {
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: rem(850);
  }
}