@use "global" as *;

.pc-nav__items{
  display: flex;
}
.pc-nav__item{
  text-align: center;
}
.pc-nav__item:not(:first-child){
  margin-left: rem(40);
}
.pc-nav__item a{
  display: inline-block;
  position: relative;
  color: $white;
  font-size: rem(18);
  font-weight: $regular;
  line-height: 1;
  font-family: $english-font-family;
}
.pc-nav__item a::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: rem(1);
  background-color: $white;
  border-radius: rem(1);
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.pc-nav__item a:hover::after{
  transform: scale(1, 1);
}
.pc-nav__item a::first-letter{
  text-transform: uppercase;
}
.pc-nav__item:nth-child(7) a{
  text-transform: uppercase;
}
.pc-nav__item a span{
  display: block;
  color: $white;
  font-size: rem(10);
  font-weight: $regular;
  line-height: calc(15 / 10);
  padding-top: rem(6);
}