@use "global" as *;

.single-blog {
  position: relative;
}
.single-blog::before {
  content: "";
  position: absolute;
  top: rem(-25);
  left: max(calc(50% - 38.7rem), rem(16));
  width: rem(120);
  height: rem(55);
  background-image: url(../images/svg/sea-goldie_accent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(-1, 1);
  @include mq("md") {
    top: rem(-70);
    width: rem(301);
    height: rem(138);
  }
}
.single-blog__inner {
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.single-blog__body {
  @include mq("md") {
    display: flex;
    gap: rem(86.4);
  }
}
.single-blog__main {
  max-width: rem(706);
}
.single-blog__page-navigation {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
.single-blog__side {
  margin-top: rem(80);
  @include mq("md") {
    max-width: rem(294);
    margin-top: 0;
  }
}