@use "global" as *;

.sp-nav{
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  max-width: rem(375);
  height: 100vh;
  background-color: $accent;
  opacity: 0;
  transition: opacity 0.4s, left 0.4s;
  z-index: 3;
}
.is-open .sp-nav{
  opacity: 1;
  left: 0;
}
.sp-nav__items{
  column-count: 2;
  column-gap: rem(30);
  padding-top: rem(24);
  padding-left: vw(1, 0.098666);
  padding-right: vw(1, 0.048666);
}
.sp-nav__item{
  margin-bottom: rem(40);
}
.sp-nav__item >a{
  display: inherit;
  position: relative;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
}
.sp-nav__item:nth-child(1) >a{
  padding-top: 0;
}
.sp-nav__item:nth-child(5) >a{
  padding-top: 0;
}
.sp-nav__item >a::before{
  content: "";
  position: absolute;
  top: rem(3);
  left: rem(-22);
  width: rem(18);
  height: rem(18);
  background-image: url(../images/svg/_ヒトデ.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sp-nav__small-items{

}
.sp-nav__small-item{
  margin-top: rem(24);
}
.sp-nav__small-item >a{
  display: inherit;
  width: 100%;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}